body {
    background-color: #0d1f25;
    font-family: verdana;
    margin: 0;
}

#contLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#mydiv {
    text-align: center;
}

.btn {
    padding: 10px  20px;
    font-size: 1.5em;
    color: beige;
    background-color: rgb(131, 54, 54);
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(192, 94, 94);
}